@media screen and (min-width: 768px) {
  .sidebar {
    padding: 2rem;
    padding-right: 5rem;
    background-image: url(/bg-sidebar-desktop.svg);
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-transform: uppercase;
  }

  .flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .desktop-hidden {
    display: none !important;
  }

}

@media screen and (max-width: 767px) {
  .sidebar {
    padding-block: 2rem;
    padding-bottom: 9rem;
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(/bg-sidebar-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-transform: uppercase;
    border-radius: unset;
  }

  .flex {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .mobile-hidden {
    display: none !important;
  }
}


